TMDB_BEARER_TOKEN=your_tmdb_bearer_token_here
TMDB_BASE_URL=https://api.themoviedb.org/3
DEFAULT_LANGUAGE=es-ES
DEFAULT_REGION=ES

TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
TELEGRAM_CHAT_ID=your_telegram_chat_id_here
